
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html{    
  font-family: 'Voltaire', sans-serif;
  color: #282620;
}
/* HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color .5s ease;
  z-index: 1000;
}
  
/* HEADER: Mobile First */
nav {
  background: transparent;
  padding: 5px 20px;
  width: 100%;
  }
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
#nu-logo {
  height: 3em;
  width: 120px;
  background-image: url('../assets/images/logo-branco.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.menu li {  
  font-size: 1.1rem;
  padding: 15px 5px;
  white-space: nowrap;
}
.toggle a {
  font-size: 20px;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}
#m1:hover,
#m2:hover,
#m3:hover,
#m4:hover,
#m5:hover {
  border: 1px solid #fff;
}
#lang-mand {
  font-family: 'Noto Serif SC', serif; 
}
#lang-pt,
#lang-en,
#lang-mand {
  margin: 0 5px 0 5px;
}
li span {
  font-family: 'Source Code Pro', monospace; 
  color: white;
}
/* scrolling effect */

.scrolling-active {
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(88, 38, 38, 0.1);
}
.scrolling-active .nav {
  height: 5rem;
}
.scrolling-active #nu-logo {
  height: 3em;
  width: 120px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../assets/images/logo-preto.png');
  background-position: center;     
}


.scrolling-active #m1:hover,
.scrolling-active #m2:hover,
.scrolling-active #m3:hover,
.scrolling-active #m4:hover,
.scrolling-active #m5:hover {
  border: 1px solid #313131;
}
.scrolling-active .item a {
  color: #313131;
}

.scrolling-active .item::after {
  background-color: #313131;
}

/* navbar toggle */
.toggle {
  cursor:pointer;
}
.bars {
  background: #fff;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  margin-bottom: .3em;
}
.bars:before,
.bars:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}
.scrolling-active .bars {
  background: #313131;
}
.scrolling-active .bars::before,
.scrolling-active .bars::after {
  background: #313131;
}

/* hero */
.hero {
  width: 100%;
  height: 65vh;
  background-image: url('../assets/images/hero-cardapio.JPG');
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;   /*fixed = parallax ,  scroll = normal */
}
.hero::after {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}
/* --/HEADER */


/* MAIN */
main {
    height: 100vh;
    background: url('../../images/mooncake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-spacer {
  height: 100vh;
  background-color: pink;
}

/* Footer */
footer {
    height: auto;
    background-color: #000;
    padding-top: 50px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    font-family: 'Voltaire', sans-serif;
}
footer h4 {
    font-size: 1.5em;
    margin-bottom: 5px;
}
ul {
    list-style: none;
    
}
address {
    font-style: normal;
}
.footer-l1-container {
    display: flex;
    justify-content: center;
    height: auto;
}
.footer-l1 {
    width: calc(100%/3);
    height: auto;
}
.footer-l1 img {
    width: 40px;
    margin: 10px 10px 0 5px;
}
.medias {
    display: flex;
    justify-content: center;
}

#recognition {
    background-color: lightcoral;
}
#contato {
    background-color: lightgreen;
}
.footer-l2-container {
    display: flex;
    justify-content: space-around;
}
.footer-l2 {
    width: calc(100%/2);
    margin-top: 40px;
    margin-bottom: 40px;
}
.footer-l2 span {
    font-family: 'Roboto', sans-serif;
    font-size: .75em;
    font-weight: lighter;
}
.footer-l3 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
}
.footer-l4-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
footer a:visited {
    color: white;
}
.footer-l3 a,
.footer-l2 a, {
    text-decoration: none;
}
.footer-l3 a:hover,
.footer-l2 a:hover {
    background-color: white;
    text-emphasis: bold;
    color: #000
}
address a {
    text-decoration: none;
    color: white
}
address a:hover {
    background-color: white;
    text-emphasis: bold;
    color: #000
}
address a:visited {
    color: white;
}
address a:hover {
    background-color: white;
    text-emphasis: bold;
    color: #000
}

@media (max-width: 800px) {
    footer {
        height: auto;
        padding-top: 40px;
    }
    .footer-l1-container {
        display: block;
        height: auto;
    }
    .footer-l1 {
        width: 100%;
    }
    .footer-l1:nth-of-type(2) {
        margin-top: 40px;
    }
    .footer-l1:nth-of-type(3) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .footer-l2-container {
        display: block;
        margin-top: 40px;
    }
    .footer-l2 {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .footer-l3 {
        display: block;
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .footer-l4-container {
        display: block;
    }

}