/* Basic Styling */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body, html{
  height: 100%;
  font-family: 'Voltaire', sans-serif;
  color: #282620;
}

/* Mobile First */
/* HEADER SECTION */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color .5s ease;
  z-index: 1000;
}
header nav {
  background: transparent;
  padding: 5px 20px;
  width: 100%;
}
header ul {
  list-style-type: none;
}
header a {
  color: white;
  text-decoration: none;
}
#nu-logo {
  height: 3em;
  width: 120px;
  background-image: url('../assets/images/logo-branco.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
header .menu li {  
  font-size: 1.1rem;
  padding: 15px 5px;
  white-space: nowrap;
}
header .toggle a {
  font-size: 20px;
}

/* mobile menu */
header .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header .toggle {
  order: 1;
}
header .item.button {
  order: 2;
}
header .item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
header .item.active {
  display: block;
}
#m1:hover,
#m2:hover,
#m3:hover,
#m4:hover,
#m5:hover {
  border: 1px solid #fff;
}
#lang-mand {
  font-family: 'Noto Serif SC', serif; 
}
#lang-pt,
#lang-en,
#lang-mand {
  margin: 0 5px 0 5px;
}
.scrolling-active .letter-spacer {
  color: #282620;
}
header li span {
  font-family: 'Source Code Pro', monospace; 
  color: white;
}

/* scrolling effect */
.scrolling-active {
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(88, 38, 38, 0.1);
}
.scrolling-active .nav {
  height: 5rem;
}
.scrolling-active #nu-logo {
  height: 3em;
  width: 120px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../assets/images/logo-preto.png');
  background-position: center;     
}
.scrolling-active #m1:hover,
.scrolling-active #m2:hover,
.scrolling-active #m3:hover,
.scrolling-active #m4:hover,
.scrolling-active #m5:hover {
  border: 1px solid #313131;
}
.scrolling-active .item a {
  color: #313131;
}
.scrolling-active .item::after {
  background-color: #313131;
}

/* navbar toggle */
header .toggle {
  cursor:pointer;
}
header .bars {
  background: #fff;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  margin-bottom: .3em;
}
.bars:before,
.bars:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}
.scrolling-active .bars {
  background: #313131;
}
.scrolling-active .bars::before,
.scrolling-active .bars::after {
  background: #313131;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/images/rolo-massa.jpg');
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;   /*fixed = parallax ,  scroll = normal */
}
.hero::after {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

/* MAIN SECTION */
main .intro-title {
  text-align: center;
  font-size: 3rem;
  margin: 10rem 3rem 2rem 3rem;
  padding-bottom: 1rem;
  border-bottom: 6px solid;
}
main .intro-cols-container {
  font-size: 2.0rem;
  line-height: 1.25;
  text-align: center;
  display: block;
  margin: 0 3rem 0 3rem;
}
main .intro-cols-container > p:first-of-type {
  margin-bottom: 2em;
}
main .intro-cols-container > p {
  width: 100%;
}
main .quote {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  text-emphasis: bold;
  color: tomato;
  background-color: cornflowerblue;
  margin: 4rem 3rem 0 3rem;
}
main .facts {
  display: block;
  margin: 4rem 3rem 0 3rem;
}
main .fact-container {
  width: 100%;
}
main .fact-container:first-of-type {
  margin-bottom: 5em;
}
main .grid-container {
  display: block;
}
main .overlap > h2 {
  margin: 0 3rem 1rem 3rem;
}
main ul {
  margin: 2rem 3rem 2rem 3rem;
  padding: 1.5rem;
  background: #f6f3ea;
  box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4);
}
main .form-cover {
  padding: 60px 20px;
}
main .flex-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
}
main input[type="search"] {
  flex-basis: 0;
}
main label {
  display: none;
}














/* ---------------------- MEDIA QUERIES ---------------------- */
/* Tablet Screens*/
@media all and (min-width: 720px) {
  /* HEADER SECTION */
  header .menu {
      justify-content: center;
  }
  header .logo {
      flex: 1;
  }
  header .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  header .toggle {
      order: 2;
  }
  header .button.secondary {
      border: 0;
      margin-left: 1em;
  }
  header .button a {
      background: transparent;
      font-family: 'Source Code Pro', monospace;
  }
  header .button.secondary a {
      font-family: 'Voltaire', sans-serif;
      padding: 7.5px 15px;
      background-color: rgb(247, 245, 233);
      color: #282620;
      border-radius:50em;
      margin-right: 1em;
      transition: background-color .5s ease;
  }
  header .button.secondary a:hover {
    color: #282620;
    background-color: #ccc;
  }
  #m5:hover,
  .scrolling-active #m5:hover {
    background-color: transparent;
    border: transparent;
  }
  .scrolling-active .button.secondary a {
    background-color: #9e7b55;
    color: #fff;
  }
  
  /* MAIN SECTION */
  main .intro-title {
    text-align: center;
    font-size: 3rem;
    margin: 10rem 4rem 2rem 4rem;
    padding-bottom: 1rem;
    border-bottom: 6px solid;
  }
  main .intro-cols-container {
      font-size: 1.75rem;
      line-height: 1.35;
      text-align: center;
      display: block;
      margin: 0 4rem 0 4rem;
  }
  main .intro-cols-container > p:first-of-type {
      margin-bottom: 2em;
  }
  main .intro-cols-container > p {
      width: 100%;
  }
  main .quote {
      font-size: 2.5rem;
      text-align: center;
      text-transform: uppercase;
      text-emphasis: bold;
      color: tomato;
      background-color: cornflowerblue;
      margin: 4rem 4rem 0 4rem;
  }
  main .facts {
      display: block;
      margin: 4rem 4rem 0 4rem;
  }
  main .fact-container {
      width: 100%;
  }
  main .fact-container:first-of-type {
      margin-bottom: 5em;
  }
  main .grid-container {
      display: block;
  }
  main .overlap > h2 {
      margin: 0 4rem 1rem 4rem;
  }
  main ul {
      margin: 2rem 4rem 2rem 4rem;
      padding: 1.5rem;
      background: #f6f3ea;
      box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4);
  }
  main .label {
      font-size: 1rem;
      background-color: yellow;
      text-transform: capitalize;
  }
  main .flex-form {
      width: 400px;
  }
  main input[type="search"] {
      flex-basis: 100%;
  }
  main .flex-form > * {
      font-size: 0.9rem;
  }
  
}











/* Desktop Screens */
@media all and (min-width: 1200px) {
  /* HEADER SECTION*/
    header .item {
        display: block;
        width: auto;
        position: relative;
    }
    #lang-pt,
    #lang-en {
        font-weight: bold;
    }
    header .item:not(.button)::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .5s ease;
    }
    .scrolling-active .item:not(.button)::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #282620;
        position: absolute;
        left: 0;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .5s ease;
    }
    #m1:hover,
    #m2:hover,
    #m3:hover,
    #m4:hover,
    #m5:hover,
    .scrolling-active #m1:hover,
    .scrolling-active #m2:hover,
    .scrolling-active #m3:hover,
    .scrolling-active #m4:hover,
    .scrolling-active #m5:hover {
        background-color: transparent;
        border: transparent;
    }
    #m5 {
        margin-left: 2rem;
    }
    header .item:hover::after {
        transform: scaleX(1);
    }
    .scrolling-active .item:hover::after {
        transform: scaleX(1);
    }
    header .toggle {
        display: none;
    }
    header .logo {
        order: 0;
    }
    header .item {
        order: 1;
    }
    header .item:nth-last-of-type(4) {
        margin-right: 2em;
    }
    header .button {
        order: 2;
    }
    header .menu li {
        padding: 15px 10px;
    }
    header nav a {
        font-size: 1.25rem;
    }
    header .scrolling-active .letter-spacer {
        color: #282620;
    }
    header .menu li.button {
        padding-right: 0;
    }
    





  /* MAIN SECTION */
  
main .intro-title {
  text-align: center;
  font-size: 3rem;
  margin: 10rem 8rem 2rem 8rem;
  padding-bottom: 1rem;
  border-bottom: 6px solid;
}
main .intro-cols-container {
  font-size: 2.0rem;
  text-align: left;
  line-height: 1.5;
  display: flex;
  margin: 0 8rem 0 8rem;
  justify-content: space-between;
}
main .intro-cols-container > p {
  width: 40%;
}
main .quote {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  text-emphasis: bold;
  color: tomato;
  background-color: cornflowerblue;
  margin: 4rem 8rem 0 8rem;
}
main .facts {
  display: flex;
  margin: 4rem 8rem 0 8rem;
  justify-content: space-between;
}
main .fact-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  flex-direction: column;
}
main .fact-inner-container > h2 {
  font-size: 5.5em;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid;
}
main .fact-container-2 {
  display: flex;
  flex-direction: column;
  width: 40%;
}
main .fact-container-2 > h2 {
  font-size: 5.5em;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 9px solid;
}

main .fact {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 0.5rem;
  margin-bottom: 2.5rem;
}
main .fact-2 {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.5;
  padding-top: 0.5rem;
  border-bottom: 9px solid;
}
main .fact-3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.5;
  padding-top: 0.5rem;
  border-bottom: 9px solid;
}
main .fact-4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.5;
  padding-top: 0.5rem;
  border-bottom: 9px solid;
}
main .spacer {
  height: 50vh;
}
/* Timeline Section */
main .overlap > h2 {
  font-size: 3em;
  text-align: center;
  margin: 0 8rem 1rem 8rem;
}
main .grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 100%;
}
main .overlap li:nth-of-type(1) {
  grid-row: 1 / span 4;
  grid-column: 4 / span 6;
  z-index: 1;
}
main .overlap li:nth-of-type(2) {
  grid-row: 3 / span 1;
  grid-column: 2 / span 4;
  z-index: 3;
}
main .overlap li:nth-of-type(3) {
  grid-row: 5 / span 5;
  grid-column: 6 / span 5;
  z-index: 2;
  
}
main .overlap li:nth-of-type(4) {
  grid-row: 6 / span 1;
  grid-column: 5 / span 4;
  z-index: 3;
}
main .overlap li:nth-of-type(5) {
  grid-row: 9 / span 6;
  grid-column: 2 / span 6;
  z-index: 3;
  transform: rotate(-5deg)
}
main .overlap li:nth-of-type(6) {
  grid-row: 11 / span 2;
  grid-column: 6 / span 8;
  z-index: 4;
  transform: rotate(-5deg)
}
main .overlap li:nth-of-type(7) {
  grid-row: 15 / span 4;
  grid-column: 5 / span 8;
  z-index: 5;
  transform: rotate(5deg)
}
main .overlap li:nth-of-type(8) {
  grid-row: 15 / span 1;
  grid-column: 3 / span 4;
  z-index: 6;
}
main .overlap li:nth-of-type(9) {
  grid-row: 17 / span 4;
  grid-column: 1 / span 6;
  z-index: 5;
  transform: rotate(-10deg)
}
main .overlap li:nth-of-type(10) {
  grid-row: 19 / span 1;
  grid-column: 6 / span 4;
  z-index: 6;
}
main .overlap li:nth-of-type(11) {
  grid-row: 21 / span 5;
  grid-column: 7 / span 4;
  z-index: 5;
}
main .overlap li:nth-of-type(12) {
  grid-row: 23 / span 1;
  grid-column: 4 / span 4;
  z-index: 6;
}
main .overlap li:nth-of-type(13) {
  grid-row: 25 / span 5;
  grid-column: 4 / span 4;
  z-index: 7;
}
main .overlap li:nth-of-type(14) {
  grid-row: 27 / span 1;
  grid-column: 6 / span 4;
  z-index: 8;
}
main .overlap li:nth-of-type(15) {
  grid-row: 29 / span 5;
  grid-column: 7 / span 4;
  z-index: 9;
}
main .overlap li:nth-of-type(16) {
  grid-row: 32 / span 1;
  grid-column: 4 / span 4;
  z-index: 10;
}
main img {
  display: block;
  width: 100%;
  object-fit: cover;
}
main ul {
  list-style: none;
  margin: 2rem 8rem 2rem 8rem;
  padding: 2.2rem;
  background: #f6f3ea;
  box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4);
}
main .label {
  font-size: 2rem;
  background-color: yellow;
  text-transform: capitalize;
}

/* Newsletter Section */
main .newsletter {
  height: 45vh;
  background-image: url('../assets/images/shanghai-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
main .form-cover {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
  padding: 90px 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: flex-start;
}
main .form-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4rem;
  color: white;
  text-emphasis: bolder;
}
main .flex-form input[type="submit"] {
  background: tomato;
  border: 1px solid tomato;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
main .flex-form input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}
main .flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}
main .flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

main input[type="search"] {
  flex-basis: 500px;
}






















}

/*  font-family: 'Source Code Pro', monospace;
    font-family: 'Cormorant Upright', serif;
    font-family: 'Noto Serif SC', serif;
    font-family: 'Voltaire', sans-serif; */